extends ../layouts/default.pug

block variables
  - var pageTitle = "Главная страница";
  - var pageDesc = "";

block content
  if jsonData.mainSlider.items
    section.main-slider.main-section
      .main-slider__container.container
        .main-slider__wrap.main-section__wrap
          h2.main-slider__title.main-section__title.title #[a(href="#") Портфолио]
          .main-slider__list.swiper
            .swiper-wrapper
              each item, index in jsonData.mainSlider.items
                a.main-slider__slide.swiper-slide(href="#")
                  p.main-slider__img
                    +picture(item.img)(width="492", height="420", alt=item.alt, loading="eager")
                  .main-slider__info
                    h3.main-slider__subtitle #{item.title}
                    p.main-slider__desc #{item.desc}
            .main-slider__toggles
              .swiper-pagination
              button.swiper-button-prev(type="button", aria-label="Предыдущее портфолио")
                +icon('icon-arrow-left')(width="30", height="30", aria-hidden="true")
              button.swiper-button-next(type="button", aria-label="Следующее портфолио")
                +icon('icon-arrow-right')(width="30", height="30", aria-hidden="true")

  section.main-blog.main-section
    .main-blog__container.container
      .main-blog__wrap.main-section__wrap
        h2.main-blog__title.main-section__title.title #[a(href="#") Блог]
        .main-blog__content
          h3.main-blog__subtitle.main-blog__subtitle--article Последние записи
          if jsonData.mainArticle.items
            each item in jsonData.mainArticle.items
              article.main-blog__block.card-article__block
                a.card-article__link(href=item.link)
                  footer.card-article__meta
                    time.card-article__date(datetime=item.date) #{item.dateText}
                    span.card-article__read #{item.read}
                  h3.card-article__title #{item.title}
                  .card-article__desc
                    p #{item.desc}

          h3.main-blog__subtitle.main-blog__subtitle--blog Категории
          .main-blog__list.category-list
            a.category-list__link(href="#") Веб дизайн (23)
            a.category-list__link(href="#") Frontend (12)
            a.category-list__link(href="#") Backend (10)
            a.category-list__link(href="#") SEO (3)
            a.category-list__link(href="#") DevOps (5)
            a.category-list__link(href="#") Все записи (53)
            
